<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.hardware.Nios2HardwareLaunchConfiguration">
<stringAttribute key="byteStreamDeviceCableName" value="USB-Blaster on localhost [3-2]"/>
<stringAttribute key="byteStreamDeviceDeviceID" value="1"/>
<stringAttribute key="byteStreamDeviceInstanceID" value="0"/>
<booleanAttribute key="downloadProgram" value="true"/>
<stringAttribute key="elfFile" value="/home/max/Sync/Imperial/InformationProcessing/LAB3/Golden_Top/software/accel_test/accel_test.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="accel_test.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="accel_test"/>
<stringAttribute key="processorCableName" value="USB-Blaster on localhost [3-2]"/>
<stringAttribute key="processorDeviceIndex" value="1"/>
<stringAttribute key="processorInstanceId" value="0"/>
<booleanAttribute key="runProgram" value="true"/>
</launchConfiguration>
